:root{
    --casa-snoopy: rgba(254,0,0,255);
    --cielo: rgba(126,167,229,255);
}

*{
    margin: 0%;
    padding: 0%;
}


body{
    background-image: url(../images/background.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    border-bottom: solid;
}

nav{
    display: flex;
}

nav ul{
    list-style-type: none;
    background-color: var(--casa-snoopy);
    text-align: center;
    width: -webkit-fill-available;
}

nav ul li{
    border-bottom: solid 0.5vh;
    border-left: solid 1vh;
    border-color: white;
    font-family: inherit;
    font-size: x-large;
}

.logoCompletoDiv{
    padding-top: 30%;
    width: 100%;
}

#logoCompleto{
    width: inherit;
}

.logoDiv{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-left: 2%;
    background-color: var(--casa-snoopy);
}

#logo{
    width: 88%;
    height: 80%;
    border-radius: 50%;
    border: solid 1px;
    border-color: black;
}

.menuDiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 2%;
    background-color: var(--casa-snoopy);
}

#menu{
    width: 50%;
    cursor: pointer;
}

#navMenu{
    width: -webkit-fill-available;
}

.titulo{
    -webkit-text-stroke: 0.7px black;
    color: var(--casa-snoopy);
    font-size: 2em;
}

.subtitulo{
    -webkit-text-stroke: 0.7px black;
    color: var(--casa-snoopy);
    font-size: 1.5em;
    text-decoration: underline 1px black;
}

.aclaracion{
    font-size: 0.7em;
}

footer{
    background-color: var(--casa-snoopy);
    width: 100%;
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid;
}

.contenidoFooter{
    display: none;
}

.redes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombreRed{
    display: none;
}

.logoRed{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoRed img{
    width: 100%;
}

.guarderiaSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guarderiaForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guarderiaForm input{
    margin-bottom: 10%;
}

.guarderiaForm select{
    margin-bottom: 10%;
}

.guarderiaForm{
    padding: 2% 5% 2% 5%;
    border-radius: 20%;
    border: solid 2px var(--casa-snoopy);
}

#buttonConsultar{
    margin-top: 3%;
    border: solid 1px;
    border-radius: 10px;
    padding: 5% 10% 5% 10%;
    color: white;
    background-color: rgba(0, 187, 45, 1);
}

#resultadoDiv{
    background-color: white;
    border-radius: 10px;
    margin-top: 3%;
    text-align: center;
    width: 80%;
    font-weight: bold;
}

.peluqueriaSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.peluqueriaSection p{
    width: 90%;
    font-style: italic;
}

.guarderiaSection ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guarderiaSection ul li{
    width: 80%;
}

.deslizar{
    display: none;
}


@media only screen and (min-width: 600px){

    #logo{
        width: 50%;
        cursor: pointer;
    }

    .menuDiv{
        /* display: none; */
    }

    .menuDiv img{
        display: none;
    }

    .deslizar{
        display: flex;
    }

    nav ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul li{
        width: 100%;
        border: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    nav ul li:hover{
        background-color: white;
        color: var(--casa-snoopy);
        font-size: 2em;
    }

    .logoCompletoDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0%;
    }

    #logoCompleto{
        width: 50%;
    }

    footer{
        position: absolute;
        position: fixed;
        bottom: 0%;
        display: flex;
        justify-content: end;
    }

    .contenidoFooter{
        display: block;
    }

    .redes{
        width: 50%;
    }

    .nombreRed{
        display: block;
    }

    .logoRed{
        /* width: 20%; */
    }

    .logoRed a{
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        align-items: center;
        color: white;
    }

    .logoRed a:hover{
        border-bottom: solid 1px white;
        border-left: solid 1px white;
        font-size: 1.5em;
    }

    .logoRed img{
        width: 20%;
    }


    .titulo{
        font-size: 5em;
    }

    .guarderiaForm{
        font-size: 2rem;
    }

    .guarderiaForm input{
        font-size: 2rem;
    }

    .guarderiaForm select{
        font-size: 2rem;
    }

    .subtitulo{
        font-size: 2.5rem;
    }

    .peluqueriaSection p{
        font-size: 2rem;
    }

    .guarderiaSection ul li{
        font-size: 2rem;
    }

    #buttonConsultar{
        font-size: 1.5rem;
    }

    #buttonConsultar:hover{
        border: solid 2px;
        font-size: 2rem;
        cursor: pointer;

    }

    #resultadoDiv{
        margin-bottom: 10%;
        width: 40%;
        font-size: 2rem;
    }
}