*{
    
}
body{
    background-image: url(../images/background.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

header{
    display: flex;
}

nav{
    display: flex;
}

.redes ul{
    display: flex;
} 